<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
  <add name="ConnectionString" connectionString="Data Source=.\SQLExpress;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="gamers_stopConnectionString" connectionString="Data Source='.\SQLExpress';Integrated Security=True;Pooling=False;Initial Catalog='gamers_stop'"
   providerName="System.Data.SqlClient" />
  <add name="gamers_stopConnectionString2" connectionString="Data Source=.\SQLExpress;Initial Catalog=gamers_stop;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
  <add name="mydbConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=mydb;Integrated Security=True;Pooling=False"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
 <system.web>
   <sessionState timeout="10"></sessionState>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
